<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Recipy | Home</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="/public/css/style.css" rel="stylesheet">
    <style type="text/css">
        :root .carbonad,
        :root #content > #right > .dose > .dosesingle,
        :root #content > #center > .dose > .dosesingle,
        :root #carbonads-container {
            display: none !important;
        }
    </style>
    <style type="text/css"></style>
</head>

<body>
<header>
    <!-- navigation -->
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse text-center">
        <a class="navbar-brand" href="#">Recipy</a>
        <ul class="nav navbar-nav nav-pills pull-xs-right">
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#modal-login">Login</a>
            </li>
        </ul>
        <form class="form-inline">
            <input class="form-control" type="text" placeholder="Search" value="Tomate Farcie">
            <button class="btn btn-success-outline" type="submit">Search</button>
        </form>
    </nav>
</header>

<div class="container">
    <div class="row">
        <p class="col-md-12 text-md-right">
            <small>3 resultats trouvé.</small>
        </p>
    </div>
    <div class="row">
        <ul class="nav nav-pills nav-pills-right" role="tablist">
            <li class="nav-item">
                <a class="nav-link active fa fa-th-list" data-toggle="tab" href="#login" role="tab"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link fa fa-th-large" data-toggle="tab" href="#register" role="tab"></a>
            </li>
        </ul>
    </div>

    <div>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="login" role="tabpanel">
                <div class="list-group">
                    <a href="#" class="list-group-item food-list"
                       style="
               background: url('http://lorempixel.com/400/200/food/') no-repeat left center;
               background-size: 25%;">
                        <span class="recipy-title">Titre de la recette</span>
                    </a>
                    <a href="#" class="list-group-item food-list"
                       style="
               background: url('http://lorempixel.com/400/200/food/') no-repeat left center;
               background-size: 25%;">
                        <span class="recipy-title">Titre de la recette</span>
                    </a>
                    <a href="#" class="list-group-item food-list"
                       style="
               background: url('http://lorempixel.com/400/200/food/') no-repeat left center;
               background-size: 25%;">
                        <span class="recipy-title">Titre de la recette</span>
                    </a>

                </div>
            </div>
            <div class="tab-pane" id="register" role="tabpanel">
                <div class="row">
                    <div class="col-md-2">
                        <div class="card">
                            <img class="card-img-top" data-src="http://lorempixel.com/400/200/food/"
                                 alt="Card image cap" style="background: url('http://lorempixel.com/400/200/food/') no-repeat center center;">
                            <div class="card-block">
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-1">
                        <div class="card">
                            <img class="card-img-top" data-src="..." alt="Card image cap">
                            <div class="card-block">
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-1">
                        <div class="card">
                            <img class="card-img-top" data-src="..." alt="Card image cap">
                            <div class="card-block">
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-1">
                        <div class="card">
                            <img class="card-img-top" data-src="..." alt="Card image cap">
                            <div class="card-block">
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div class="row">
        <div class="col-md-12">
            <nav class="text-center">
                <ul class="pagination pagination-sm">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/public/js/jquery.min.js"><\/script>')</script>
<script src="/public/js/tether.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/public/js/ie10-viewport.js"></script>
<script src="/public/js/modal.js"></script>
</body>
</html>
