<nav class="navbar navbar-default">
    <ul class="nav nav-tabs pull-left">
        <li role="presentation" class="active"><a class="nav-link" href="#account">Mon compte</a></li>
        <li role="presentation" class=""><a class="nav-link" href="#">Mes Favoris</a></li>
        <li role="presentation" class=""><a class="nav-link" href="#">Mes Recettes</a></li>
    </ul>
</nav>
