<nav class="navbar navbar-default">
    <ul class="nav nav-pills pull-left">
        <li role="presentation" class="active"><a href="#">Mon compte</a></li>
        <li role="presentation" class="active"><a href="#">Mes Favoris</a></li>
        <li role="presentation" class="active"><a href="#">Mes Recettes</a></li>
    </ul>
</nav>
