{% extends 'skeletton/content.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12"><h1>Add recipy</h1></div>

        <div class="col-sm-12">
            {% include 'skeletton/flashbag.html.twig' %}
            {% include 'form/recipy.html.twig' %}
        </div>
    </div><!-- /.container -->

    {% include 'modal/modal.html.twig' with {'body': 'modal/login'} %}
{% endblock %}
