<form>
    <div class="form-group">
        <label for="register-mail" class="control-label">Login</label>
        <input type="text" name="register[mail]" class="form-control" id="register-mail"
               placeholder="Email"/>
        <span class="help-block"><small>A block of help text that breaks onto a new line and may extend beyond one line.</small></span>
    </div>
    <div class="form-group">
        <label for="register-password" class="control-label">Password</label>
        <input type="text" name="register[password]" class="form-control"
               id="register-password" placeholder="Password"/>
    </div>
    <div class="form-group has-danger">
        <input type="text" name="register[repassword]" class="form-control"
               id="register-repassword" placeholder="Repeat Password"/>
        <span class="help-block text-danger"><small>Le mot de passe n'est pas identique.</small></span>
    </div>
</form>
