<div class="list-group">
    {% if row_type is null %}
        {% set row_type = 'row' %}
    {% endif %}
    {% if row_tpl is null %}
        {% set row_tpl = 'list/' ~ row_type ~ '.html.twig' %}
    {% else %}
        {% set row_tpl = row_tpl ~ '.html.twig' %}
    {% endif %}

    {% if target %}

        {% if list[target]['values'] is not null %}
            {% set list_row = list[target]['values'] %}
        {% else %}
            {% set list_row = list[target] %}
        {% endif %}

        {% for row in list_row %}
            {% include row_tpl %}
        {% endfor %}
    {% else %}

        {% if list['values'] is not null %}
            {% set list_row = list['values'] %}
        {% else %}
            {% set list_row = list %}
        {% endif %}

        {% for row in list_row %}
            {% include row_tpl %}
        {% endfor %}
    {% endif %}
</div>

{% if target and list[target]['pagination'] is not null %}
    {% include 'pagination/pagination.html.twig' with {'pagination' : list[target]['pagination']} %}
{% elseif list['pagination'] is not null %}
    {% include 'pagination/pagination.html.twig' with {'pagination' :list['pagination']} %}
{% endif %}
