<div class="row list-group-item" style="
        background: url('{{ row.image_lien }}') no-repeat left center;
        background-size: 25%;">
    <a href="#" class="food-list col-xs-9"
    >
        <div class="row">
            <div class="col-md-12">
                <span class="recipy-title">{{ row.title }}</span>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 recipy-content">
                        <span class="">{{ row.contenu | truncate(100) }}</span>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <div class="col-md-2 col-md-offset-1 text-right" style="margin-top: 10px;">
            <a href="#" style="line-height: 20px;font-size: 17px; margin-left: 10px;"><span
                        data-toggle="tooltip"
                        data-placement="top"
                        title=""
                        data-original-title="visibilité"
                        class="black-tooltip glyphicon glyphicon-eye-{% if row.visible %}open{% else %}close{% endif %}"></a>
            <a href="#" class="" aria-hidden="true"
                  style="line-height: 20px;font-size: 20px; margin-left: 10px;"><span
                        data-toggle="tooltip"
                        data-placement="top"
                        title=""
                        data-original-title="Partage ??"
                        class="black-tooltip fa fa-share-square{% if row.partage %}-o{% endif %}"></span></a>
    </div>
</div>
