<a href="#" class="list-group-item food-list"
   style="
               background: url('http://lorempixel.com/400/200/food/') no-repeat left center;
               background-size: 25%;">
    <span class="recipy-title">Titre de la recette</span>
</a>
