<!-- Pagination -->
{% if pagination.count is not null and pagination.count == 0 %}
    <div class="row">
        <div class="col-md-12">
            <nav class="text-center">
                <ul class="pagination pagination-sm">
                    <li class="page-item {%  if pagination.current <= 1 %}disabled{% endif %}">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% for index in pagination.count %}
                        <li class="page-item{% if index == pagination.current %} active{% endif %}">
                            <a class="page-link" href="&page={{ index }}">{{ index }}</a>
                        </li>
                    {% endfor %}
                    <li class="page-item {%  if pagination.current >= pagination.count  %}disabled{% endif %}">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endif %}
