{% extends 'skeletton/content.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12"><h1>Account</h1></div>
        <div class="row">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item col-xs-3">
                    <a class="nav-link text-center active" data-toggle="tab" href="#account" role="tab">Mon compte</a>
                </li>
                <li class="nav-item col-xs-3">
                    <a class="nav-link text-center active" data-toggle="tab" href="#favorite" role="tab">Mes favoris</a>
                </li>
                <li class="nav-item col-xs-3">
                    <a class="nav-link text-center active" data-toggle="tab" href="#recipy" role="tab">Mes recettes</a>
                </li>
            </ul>
        </div>

        <div>
            <!-- Tab panes -->
            <div class="tab-content">
                {% include 'tabs/account.html.twig' %}
                <div class="tab-pane{% if isSection('favourite') %} active{% endif %}" id="favorite" role="tabpanel">
                    favorites
                </div>
                {% include 'tabs/recipy.html.twig' with {'route_': 'account_recipe_search', 'params': {'section' :'recipy', 'acq': app.request.attributes.get('acq')} } %}
            </div>

        </div>
    </div><!-- /.container -->

    {% include 'modal/modal.html.twig' with {'body': 'modal/login'} %}
{% endblock %}
