{% extends 'skeletton/content.html.twig' %}

{% block content %}
    <div class="col-md-offset-2 col-md-8">
        {% include 'list/list.html.twig' with {'target': 'recipies',
        'row_type': 'public-recipy',
        'route_': 'search_main', 'params': {'q': app.request.attributes.get('q')}} %}
    </div>
    {% include 'modal/modal.html.twig' with {'body': 'modal/login'} %}
{% endblock %}
